database/products.dtd

<!ELEMENT root (products)>
<!ELEMENT products (id,productName,aisles,price,category,type,avg,photo,description,ingredients)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT productName (#PCDATA)>
<!ELEMENT aisles (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT category (#PCDATA)>
<!ELEMENT type (#PCDATA)>
<!ELEMENT avg (#PCDATA)>
<!ELEMENT photo (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT ingredients (#PCDATA)>